@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1) !important;
  transition-property: all !important;
  transition-duration: 0.3s !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


body {
  width: calc(100vw - 15px);
  @apply text-gh-gray-9 duration-700 ease-easeOutCubic dark:text-gh-gray-1
}

.w-full-no-cls {
  width: calc(100vw - 15px);
}

* {
  box-sizing: border-box;
}


a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.post-column {
  @apply m-2.5 px-4 md:px-6 py-2.5 bg-white rounded-xl border border-solid border-gh-border flex flex-col justify-center 
}

.gh-border {
  @apply border border-solid border-gh-gray-2
}

.article-info-list-item {
  @apply text-sm md:text-base mb-1
}

.article-info-stats-item {
  @apply flex w-5/12 flex-row items-center justify-center gh-border dark:border-gh-darkborder rounded-full hover:border-gh-gray-4 dark:hover:border-gh-gray-4 hover:text-gh-gray-4 dark:hover:text-gh-gray-6 cursor-pointer text-gh-border dark:text-gh-gray-5
}

.article-info-stats-item-loading {
  @apply flex w-5/12 flex-row items-center justify-center rounded-full
}


@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}